In [ ]:
from google.colab import drive
drive.mount('/content/drive')

root = '/content/drive/MyDrive/Colab Notebooks/FINAL PROJECT ZENIUS/Dataset/'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# module
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
# Application Train Data
app_train = pd.read_csv(root+'application_train.csv')

In [ ]:
# Bureau Data
bureau = pd.read_csv(root+'bureau.csv')

In [ ]:
# POS CASH Balance Data
pos_cash_balance = pd.read_csv(root+'POS_CASH_balance.csv')

In [ ]:
# Client Prev Application Data
previous_application = pd.read_csv(root+'previous_application.csv')

In [ ]:
# tabel setting
pd.set_option('display.max_columns',None)
pd.set_option('display.max_rows',None)

In [ ]:
# fillna ext source 1 dengan 0
app_train['EXT_SOURCE_1'] = app_train['EXT_SOURCE_1'].fillna(0)

In [ ]:
# Drop kolom dengan missing value >40%
app_train = app_train.drop(app_train.columns[app_train.isnull().mean() > 0.40], axis=1)

# Cek Missing Data
total_missing = app_train.isnull().sum().sort_values(ascending=False)
percent_1 = app_train.isnull().sum()/app_train.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

                         Column  Total Missing     %
0               OCCUPATION_TYPE          96391  31.3
1                  EXT_SOURCE_3          60965  19.8
2    AMT_REQ_CREDIT_BUREAU_YEAR          41519  13.5
3     AMT_REQ_CREDIT_BUREAU_QRT          41519  13.5
4     AMT_REQ_CREDIT_BUREAU_MON          41519  13.5
5    AMT_REQ_CREDIT_BUREAU_WEEK          41519  13.5
6     AMT_REQ_CREDIT_BUREAU_DAY          41519  13.5
7    AMT_REQ_CREDIT_BUREAU_HOUR          41519  13.5
8               NAME_TYPE_SUITE           1292   0.4
9      OBS_30_CNT_SOCIAL_CIRCLE           1021   0.3
10     DEF_30_CNT_SOCIAL_CIRCLE           1021   0.3
11     OBS_60_CNT_SOCIAL_CIRCLE           1021   0.3
12     DEF_60_CNT_SOCIAL_CIRCLE           1021   0.3
13                 EXT_SOURCE_2            660   0.2
14              AMT_GOODS_PRICE            278   0.1
15                  AMT_ANNUITY             12   0.0
16              CNT_FAM_MEMBERS              2   0.0
17       DAYS_LAST_PHONE_CHANGE              1   0.0
18             FLAG_DOCUMENT_17              0   0.0
19             FLAG_DOCUMENT_18              0   0.0
20             FLAG_DOCUMENT_21              0   0.0
21             FLAG_DOCUMENT_20              0   0.0
22             FLAG_DOCUMENT_19              0   0.0
23              FLAG_DOCUMENT_2              0   0.0
24              FLAG_DOCUMENT_3              0   0.0
25              FLAG_DOCUMENT_4              0   0.0
26              FLAG_DOCUMENT_5              0   0.0
27             FLAG_DOCUMENT_16              0   0.0
28              FLAG_DOCUMENT_6              0   0.0
29              FLAG_DOCUMENT_7              0   0.0
30              FLAG_DOCUMENT_8              0   0.0
31              FLAG_DOCUMENT_9              0   0.0
32             FLAG_DOCUMENT_10              0   0.0
33             FLAG_DOCUMENT_11              0   0.0
34                 EXT_SOURCE_1              0   0.0
35             FLAG_DOCUMENT_13              0   0.0
36             FLAG_DOCUMENT_14              0   0.0
37             FLAG_DOCUMENT_15              0   0.0
38             FLAG_DOCUMENT_12              0   0.0
39                   SK_ID_CURR              0   0.0
40            ORGANIZATION_TYPE              0   0.0
41             NAME_INCOME_TYPE              0   0.0
42                DAYS_EMPLOYED              0   0.0
43                   DAYS_BIRTH              0   0.0
44   REGION_POPULATION_RELATIVE              0   0.0
45            NAME_HOUSING_TYPE              0   0.0
46           NAME_FAMILY_STATUS              0   0.0
47          NAME_EDUCATION_TYPE              0   0.0
48                   AMT_CREDIT              0   0.0
49      LIVE_CITY_NOT_WORK_CITY              0   0.0
50             AMT_INCOME_TOTAL              0   0.0
51                 CNT_CHILDREN              0   0.0
52              FLAG_OWN_REALTY              0   0.0
53                 FLAG_OWN_CAR              0   0.0
54                  CODE_GENDER              0   0.0
55           NAME_CONTRACT_TYPE              0   0.0
56            DAYS_REGISTRATION              0   0.0
57              DAYS_ID_PUBLISH              0   0.0
58                   FLAG_MOBIL              0   0.0
59               FLAG_EMP_PHONE              0   0.0
60              FLAG_WORK_PHONE              0   0.0
61             FLAG_CONT_MOBILE              0   0.0
62                   FLAG_PHONE              0   0.0
63                   FLAG_EMAIL              0   0.0
64         REGION_RATING_CLIENT              0   0.0
65  REGION_RATING_CLIENT_W_CITY              0   0.0
66   WEEKDAY_APPR_PROCESS_START              0   0.0
67      HOUR_APPR_PROCESS_START              0   0.0
68   REG_REGION_NOT_LIVE_REGION              0   0.0
69   REG_REGION_NOT_WORK_REGION              0   0.0
70  LIVE_REGION_NOT_WORK_REGION              0   0.0
71       REG_CITY_NOT_LIVE_CITY              0   0.0
72                       TARGET              0   0.0
73       REG_CITY_NOT_WORK_CITY              0   0.0

In [ ]:
app_train.shape

(307511, 74)

In [ ]:
# Delete row jika semua value-nya null
app_train = app_train.dropna(how='all')

# drop rows dengan target 0 yang memiliki Null value pada kolom yang memiliki null value.
index = app_train[
    (app_train['TARGET'] == 0) & 
    ( (app_train[missing_data['Column'][0]].isnull()) | 
     (app_train[missing_data['Column'][1]].isnull()) | 
     (app_train[missing_data['Column'][2]].isnull()) |
     (app_train[missing_data['Column'][3]].isnull()) |
     (app_train[missing_data['Column'][4]].isnull()) |
     (app_train[missing_data['Column'][5]].isnull()) |
     (app_train[missing_data['Column'][6]].isnull()) |
     (app_train[missing_data['Column'][7]].isnull())
     )].index
app_train = app_train.drop(index)

In [ ]:
# Drop rows dengan gender XNA
app_train = app_train.drop(app_train[app_train['CODE_GENDER'] == 'XNA'].index, axis=0)

In [ ]:
# Generate data untuk Count Family Members
app_train['CNT_FAM_MEMBERS'] = app_train['CNT_FAM_MEMBERS'].fillna(app_train[app_train['CNT_CHILDREN'] == 0].CNT_FAM_MEMBERS.mode()[0])

In [ ]:
# Generate Occupation Type missing value dengan Modus
app_train['OCCUPATION_TYPE'] = app_train['OCCUPATION_TYPE'].fillna(app_train['OCCUPATION_TYPE'].mode()[0])
app_train['NAME_TYPE_SUITE'] = app_train['NAME_TYPE_SUITE'].fillna(app_train['NAME_TYPE_SUITE'].mode()[0])

In [ ]:
# fill semua kolom dengan 0
app_train = app_train.fillna(0)

In [ ]:
# Cek Missing Data
total_missing = app_train.isnull().sum().sort_values(ascending=False)
percent_1 = app_train.isnull().sum()/app_train.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

                         Column  Total Missing    %
0                    SK_ID_CURR              0  0.0
1               FLAG_DOCUMENT_9              0  0.0
2               FLAG_DOCUMENT_7              0  0.0
3               FLAG_DOCUMENT_6              0  0.0
4               FLAG_DOCUMENT_5              0  0.0
5               FLAG_DOCUMENT_4              0  0.0
6               FLAG_DOCUMENT_3              0  0.0
7               FLAG_DOCUMENT_2              0  0.0
8        DAYS_LAST_PHONE_CHANGE              0  0.0
9      DEF_60_CNT_SOCIAL_CIRCLE              0  0.0
10     OBS_60_CNT_SOCIAL_CIRCLE              0  0.0
11     DEF_30_CNT_SOCIAL_CIRCLE              0  0.0
12     OBS_30_CNT_SOCIAL_CIRCLE              0  0.0
13                 EXT_SOURCE_3              0  0.0
14                 EXT_SOURCE_2              0  0.0
15                 EXT_SOURCE_1              0  0.0
16            ORGANIZATION_TYPE              0  0.0
17              FLAG_DOCUMENT_8              0  0.0
18             FLAG_DOCUMENT_10              0  0.0
19                       TARGET              0  0.0
20             FLAG_DOCUMENT_11              0  0.0
21    AMT_REQ_CREDIT_BUREAU_QRT              0  0.0
22    AMT_REQ_CREDIT_BUREAU_MON              0  0.0
23   AMT_REQ_CREDIT_BUREAU_WEEK              0  0.0
24    AMT_REQ_CREDIT_BUREAU_DAY              0  0.0
25   AMT_REQ_CREDIT_BUREAU_HOUR              0  0.0
26             FLAG_DOCUMENT_21              0  0.0
27             FLAG_DOCUMENT_20              0  0.0
28             FLAG_DOCUMENT_19              0  0.0
29             FLAG_DOCUMENT_18              0  0.0
30             FLAG_DOCUMENT_17              0  0.0
31             FLAG_DOCUMENT_16              0  0.0
32             FLAG_DOCUMENT_15              0  0.0
33             FLAG_DOCUMENT_14              0  0.0
34             FLAG_DOCUMENT_13              0  0.0
35             FLAG_DOCUMENT_12              0  0.0
36      LIVE_CITY_NOT_WORK_CITY              0  0.0
37       REG_CITY_NOT_WORK_CITY              0  0.0
38       REG_CITY_NOT_LIVE_CITY              0  0.0
39  LIVE_REGION_NOT_WORK_REGION              0  0.0
40   REGION_POPULATION_RELATIVE              0  0.0
41            NAME_HOUSING_TYPE              0  0.0
42           NAME_FAMILY_STATUS              0  0.0
43          NAME_EDUCATION_TYPE              0  0.0
44             NAME_INCOME_TYPE              0  0.0
45              NAME_TYPE_SUITE              0  0.0
46              AMT_GOODS_PRICE              0  0.0
47                  AMT_ANNUITY              0  0.0
48                   AMT_CREDIT              0  0.0
49             AMT_INCOME_TOTAL              0  0.0
50                 CNT_CHILDREN              0  0.0
51              FLAG_OWN_REALTY              0  0.0
52                 FLAG_OWN_CAR              0  0.0
53                  CODE_GENDER              0  0.0
54           NAME_CONTRACT_TYPE              0  0.0
55                   DAYS_BIRTH              0  0.0
56                DAYS_EMPLOYED              0  0.0
57            DAYS_REGISTRATION              0  0.0
58              CNT_FAM_MEMBERS              0  0.0
59   REG_REGION_NOT_WORK_REGION              0  0.0
60   REG_REGION_NOT_LIVE_REGION              0  0.0
61      HOUR_APPR_PROCESS_START              0  0.0
62   WEEKDAY_APPR_PROCESS_START              0  0.0
63  REGION_RATING_CLIENT_W_CITY              0  0.0
64         REGION_RATING_CLIENT              0  0.0
65              OCCUPATION_TYPE              0  0.0
66              DAYS_ID_PUBLISH              0  0.0
67                   FLAG_EMAIL              0  0.0
68                   FLAG_PHONE              0  0.0
69             FLAG_CONT_MOBILE              0  0.0
70              FLAG_WORK_PHONE              0  0.0
71               FLAG_EMP_PHONE              0  0.0
72                   FLAG_MOBIL              0  0.0
73   AMT_REQ_CREDIT_BUREAU_YEAR              0  0.0

In [ ]:
# Refer :- https://www.kaggle.com/willkoehrsen/start-here-a-gentle-introduction#Feature-Engineering

app_train_feature = app_train.copy()

In [ ]:
# New Feature Percentage
app_train_feature['CREDIT_INCOME_PERCENT'] = app_train_feature['AMT_CREDIT'] / app_train_feature['AMT_INCOME_TOTAL']
app_train_feature['ANNUITY_INCOME_PERCENT'] = app_train_feature['AMT_ANNUITY'] / app_train_feature['AMT_INCOME_TOTAL']
app_train_feature['CREDIT_TERM'] = app_train_feature['AMT_ANNUITY'] / app_train_feature['AMT_CREDIT']
app_train_feature['DAYS_EMPLOYED_PERCENT'] = app_train_feature['DAYS_EMPLOYED'] / app_train_feature['DAYS_BIRTH']

In [ ]:
# Drop Kolom FLAG DOCUMENTS yang persebaran data sangat imbalance
app_train_feature = app_train_feature.drop([
    'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7',
    'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12','FLAG_DOCUMENT_13',
    'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18','FLAG_DOCUMENT_19',
    'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21'
], axis=1)

In [ ]:
app_train_feature.shape

(179793, 59)

In [ ]:
# Data yang dapat diambil dari tabel Bureau dan Bureau Balance

# total pinjaman pada biro lain
prev_loans = bureau.groupby('SK_ID_CURR', as_index=False)['SK_ID_BUREAU'].count().rename(columns = {'SK_ID_BUREAU': 'PREV_LOANS'})
prev_loans.head()

   SK_ID_CURR  PREV_LOANS
0      100001           7
1      100002           8
2      100003           4
3      100004           2
4      100005           3

In [ ]:
# jika tidak pernah meminjam sebelumnya
prev_loans['PREV_LOANS'] = prev_loans['PREV_LOANS'].fillna(0)

In [ ]:
# Total Credit Types setiap nasabah
credit_types_per_customer = bureau[['SK_ID_CURR','CREDIT_TYPE']].groupby(by=['SK_ID_CURR'])['CREDIT_TYPE'].nunique()
credit_types_per_customer = credit_types_per_customer.reset_index().rename(columns={'CREDIT_TYPE':'PREV_TOTAL_CREDIT_TYPES'})
credit_types_per_customer.head()

   SK_ID_CURR  PREV_TOTAL_CREDIT_TYPES
0      100001                        1
1      100002                        2
2      100003                        2
3      100004                        1
4      100005                        2

In [ ]:
# merge
prev_loans = prev_loans.merge(credit_types_per_customer, on = 'SK_ID_CURR', how = 'left')
prev_loans.head()

   SK_ID_CURR  PREV_LOANS  PREV_TOTAL_CREDIT_TYPES
0      100001           7                        1
1      100002           8                        2
2      100003           4                        2
3      100004           2                        1
4      100005           3                        2

In [ ]:
# rata - rata tipe peminjaman
prev_loans['PREV_AVG_LOAN_TYPE'] = prev_loans['PREV_LOANS']/prev_loans['PREV_TOTAL_CREDIT_TYPES']
prev_loans.head()

   SK_ID_CURR  PREV_LOANS  PREV_TOTAL_CREDIT_TYPES  PREV_AVG_LOAN_TYPE
0      100001           7                        1                 7.0
1      100002           8                        2                 4.0
2      100003           4                        2                 2.0
3      100004           2                        1                 2.0
4      100005           3                        2                 1.5

In [ ]:
import scipy
# Modus dari prev Credit Types
mode_type = bureau[['SK_ID_CURR','CREDIT_TYPE']].groupby(by=['SK_ID_CURR'])['CREDIT_TYPE'].agg(lambda x: scipy.stats.mode(x)[0])
mode_type = mode_type.reset_index().rename(columns={'CREDIT_TYPE':'PREV_CREDIT_TYPE_MODE'})
mode_type.head()

   SK_ID_CURR PREV_CREDIT_TYPE_MODE
0      100001       Consumer credit
1      100002       Consumer credit
2      100003       Consumer credit
3      100004       Consumer credit
4      100005       Consumer credit

In [ ]:
# Merge
prev_loans = prev_loans.merge(mode_type, on = 'SK_ID_CURR', how = 'left')
prev_loans.head()

,SK_ID_CURR,PREV_LOANS,PREV_TOTAL_CREDIT_TYPES,PREV_AVG_LOAN_TYPE,PREV_CREDIT_TYPE_MODE
0,100001,7,1,7.0,Consumer credit
1,100002,8,2,4.0,Consumer credit
2,100003,4,2,2.0,Consumer credit
3,100004,2,1,2.0,Consumer credit
4,100005,3,2,1.5,Consumer credit

In [ ]:
# Total Prev Closed Credit
index = bureau[
    (bureau['CREDIT_ACTIVE'] == 'Active') |
    (bureau['CREDIT_ACTIVE'] == 'Sold') |
    (bureau['CREDIT_ACTIVE'] == 'Bad debt')
].index

closed_credit = bureau.drop(index)

In [ ]:
closed_credit = closed_credit[['SK_ID_CURR','CREDIT_ACTIVE']].groupby(by=['SK_ID_CURR'])['CREDIT_ACTIVE'].count()
closed_credit = closed_credit.reset_index().rename(columns={'CREDIT_ACTIVE':'PREV_CREDIT_CLOSED'})
closed_credit.head()

   SK_ID_CURR  PREV_CREDIT_CLOSED
0      100001                   4
1      100002                   6
2      100003                   3
3      100004                   2
4      100005                   1

In [ ]:
# Total Prev Active Credit
index = bureau[
    (bureau['CREDIT_ACTIVE'] == 'Closed') |
    (bureau['CREDIT_ACTIVE'] == 'Sold') |
    (bureau['CREDIT_ACTIVE'] == 'Bad debt')
].index

active_credit = bureau.drop(index)

In [ ]:
active_credit = active_credit[['SK_ID_CURR','CREDIT_ACTIVE']].groupby(by=['SK_ID_CURR'])['CREDIT_ACTIVE'].count()
active_credit = active_credit.reset_index().rename(columns={'CREDIT_ACTIVE':'PREV_CREDIT_ACTIVE'})
active_credit.head()

   SK_ID_CURR  PREV_CREDIT_ACTIVE
0      100001                   3
1      100002                   2
2      100003                   1
3      100005                   2
4      100008                   1

In [ ]:
# Total Prev Sold Credit
index = bureau[
    (bureau['CREDIT_ACTIVE'] == 'Active') |
    (bureau['CREDIT_ACTIVE'] == 'Closed') |
    (bureau['CREDIT_ACTIVE'] == 'Bad debt')
].index

sold_credit = bureau.drop(index)

In [ ]:
sold_credit = sold_credit[['SK_ID_CURR','CREDIT_ACTIVE']].groupby(by=['SK_ID_CURR'])['CREDIT_ACTIVE'].count()
sold_credit = sold_credit.reset_index().rename(columns={'CREDIT_ACTIVE':'PREV_CREDIT_SOLD'})
sold_credit.head()

   SK_ID_CURR  PREV_CREDIT_SOLD
0      100039                 1
1      100128                 1
2      100162                 1
3      100170                 1
4      100201                 1

In [ ]:
# Total Prev Bad Debt Credit
index = bureau[
    (bureau['CREDIT_ACTIVE'] == 'Active') |
    (bureau['CREDIT_ACTIVE'] == 'Closed') |
    (bureau['CREDIT_ACTIVE'] == 'Sold')
].index

bd_credit = bureau.drop(index)

In [ ]:
bd_credit = bd_credit[['SK_ID_CURR','CREDIT_ACTIVE']].groupby(by=['SK_ID_CURR'])['CREDIT_ACTIVE'].count()
bd_credit = bd_credit.reset_index().rename(columns={'CREDIT_ACTIVE':'PREV_CREDIT_BAD_DEBT'})
bd_credit.head()

   SK_ID_CURR  PREV_CREDIT_BAD_DEBT
0      158069                     1
1      163442                     1
2      176952                     1
3      186360                     1
4      207535                     1

In [ ]:
# Merge
prev_loans = prev_loans.merge(active_credit, on = 'SK_ID_CURR', how = 'left')
prev_loans = prev_loans.merge(closed_credit, on = 'SK_ID_CURR', how = 'left')
prev_loans = prev_loans.merge(sold_credit, on = 'SK_ID_CURR', how = 'left')
prev_loans = prev_loans.merge(bd_credit, on = 'SK_ID_CURR', how = 'left')
prev_loans.head()

,SK_ID_CURR,PREV_LOANS,PREV_TOTAL_CREDIT_TYPES,PREV_AVG_LOAN_TYPE,PREV_CREDIT_TYPE_MODE,PREV_CREDIT_ACTIVE,PREV_CREDIT_CLOSED,PREV_CREDIT_SOLD,PREV_CREDIT_BAD_DEBT
0,100001,7,1,7.0,Consumer credit,3.0,4.0,NaN,NaN
1,100002,8,2,4.0,Consumer credit,2.0,6.0,NaN,NaN
2,100003,4,2,2.0,Consumer credit,1.0,3.0,NaN,NaN
3,100004,2,1,2.0,Consumer credit,NaN,2.0,NaN,NaN
4,100005,3,2,1.5,Consumer credit,2.0,1.0,NaN,NaN

In [ ]:
# isi data yang kosong
prev_loans['PREV_CREDIT_ACTIVE'] = prev_loans['PREV_CREDIT_ACTIVE'].fillna(0)
prev_loans['PREV_CREDIT_CLOSED'] = prev_loans['PREV_CREDIT_CLOSED'].fillna(0)
prev_loans['PREV_CREDIT_SOLD'] = prev_loans['PREV_CREDIT_SOLD'].fillna(0)
prev_loans['PREV_CREDIT_BAD_DEBT'] = prev_loans['PREV_CREDIT_BAD_DEBT'].fillna(0)
prev_loans.head()

,SK_ID_CURR,PREV_LOANS,PREV_TOTAL_CREDIT_TYPES,PREV_AVG_LOAN_TYPE,PREV_CREDIT_TYPE_MODE,PREV_CREDIT_ACTIVE,PREV_CREDIT_CLOSED,PREV_CREDIT_SOLD,PREV_CREDIT_BAD_DEBT
0,100001,7,1,7.0,Consumer credit,3.0,4.0,0.0,0.0
1,100002,8,2,4.0,Consumer credit,2.0,6.0,0.0,0.0
2,100003,4,2,2.0,Consumer credit,1.0,3.0,0.0,0.0
3,100004,2,1,2.0,Consumer credit,0.0,2.0,0.0,0.0
4,100005,3,2,1.5,Consumer credit,2.0,1.0,0.0,0.0

In [ ]:
# Cek Missing Data
total_missing = prev_loans.isnull().sum().sort_values(ascending=False)
percent_1 = prev_loans.isnull().sum()/prev_loans.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

                    Column  Total Missing    %
0               SK_ID_CURR              0  0.0
1               PREV_LOANS              0  0.0
2  PREV_TOTAL_CREDIT_TYPES              0  0.0
3       PREV_AVG_LOAN_TYPE              0  0.0
4    PREV_CREDIT_TYPE_MODE              0  0.0
5       PREV_CREDIT_ACTIVE              0  0.0
6       PREV_CREDIT_CLOSED              0  0.0
7         PREV_CREDIT_SOLD              0  0.0
8     PREV_CREDIT_BAD_DEBT              0  0.0

In [ ]:
# merge 2 dataframe dengan left join
app_train_feature = app_train_feature.merge(prev_loans, on = 'SK_ID_CURR', how = 'left')

In [ ]:
app_train_feature.shape

(179793, 67)

In [ ]:
# Data yang dapat diambil dari tabel Bureau dan Bureau Balance

# total pinjaman pada biro lain
prev_app = previous_application.groupby('SK_ID_CURR', as_index=False)['SK_ID_PREV'].count().rename(columns = {'SK_ID_PREV': 'PREV_APP_LOANS'})
prev_app.head()

   SK_ID_CURR  PREV_APP_LOANS
0      100001               1
1      100002               1
2      100003               3
3      100004               1
4      100005               2

In [ ]:
# Total Credit Types setiap nasabah
xx = previous_application[['SK_ID_CURR','NAME_CONTRACT_TYPE']].groupby(by=['SK_ID_CURR'])['NAME_CONTRACT_TYPE'].nunique()
xx = xx.reset_index().rename(columns={'NAME_CONTRACT_TYPE':'PREV_APP_TOTAL_NAME_CONTRACT_TYPE'})
xx.head()

   SK_ID_CURR  PREV_APP_TOTAL_NAME_CONTRACT_TYPE
0      100001                                  1
1      100002                                  1
2      100003                                  2
3      100004                                  1
4      100005                                  2

In [ ]:
# Merge
prev_app = prev_app.merge(xx, on = 'SK_ID_CURR', how = 'left')
prev_app.head()

   SK_ID_CURR  PREV_APP_LOANS  PREV_APP_TOTAL_NAME_CONTRACT_TYPE
0      100001               1                                  1
1      100002               1                                  1
2      100003               3                                  2
3      100004               1                                  1
4      100005               2                                  2

In [ ]:
# rata - rata setiap tipe peminjaman
prev_app['PREV_APP_AVG_CONTRACT_TYPE'] = prev_app['PREV_APP_LOANS']/prev_app['PREV_APP_TOTAL_NAME_CONTRACT_TYPE']
prev_app.head()

,SK_ID_CURR,PREV_APP_LOANS,PREV_APP_TOTAL_NAME_CONTRACT_TYPE,PREV_APP_AVG_CONTRACT_TYPE
0,100001,1,1,1.0
1,100002,1,1,1.0
2,100003,3,2,1.5
3,100004,1,1,1.0
4,100005,2,2,1.0

In [ ]:
# Modus dari prev Credit Types
xx = previous_application[['SK_ID_CURR','NAME_CONTRACT_TYPE']].groupby(by=['SK_ID_CURR'])['NAME_CONTRACT_TYPE'].agg(lambda x: scipy.stats.mode(x)[0])
xx = xx.reset_index().rename(columns={'NAME_CONTRACT_TYPE':'PREV_APP_CONTRACT_TYPE_MODE'})
xx.head()

   SK_ID_CURR PREV_APP_CONTRACT_TYPE_MODE
0      100001              Consumer loans
1      100002              Consumer loans
2      100003              Consumer loans
3      100004              Consumer loans
4      100005                  Cash loans

In [ ]:
# Merge
prev_app = prev_app.merge(xx, on = 'SK_ID_CURR', how = 'left')
prev_app.head()

,SK_ID_CURR,PREV_APP_LOANS,PREV_APP_TOTAL_NAME_CONTRACT_TYPE,PREV_APP_AVG_CONTRACT_TYPE,PREV_APP_CONTRACT_TYPE_MODE
0,100001,1,1,1.0,Consumer loans
1,100002,1,1,1.0,Consumer loans
2,100003,3,2,1.5,Consumer loans
3,100004,1,1,1.0,Consumer loans
4,100005,2,2,1.0,Cash loans

In [ ]:
# Total Prev App Contract Status Approved
index = previous_application[
    (previous_application['NAME_CONTRACT_STATUS'] == 'Canceled') |
    (previous_application['NAME_CONTRACT_STATUS'] == 'Refused') |
    (previous_application['NAME_CONTRACT_STATUS'] == 'Unused offer')
].index

app_approve = previous_application.drop(index)

In [ ]:
app_approve = app_approve[['SK_ID_CURR','NAME_CONTRACT_STATUS']].groupby(by=['SK_ID_CURR'])['NAME_CONTRACT_STATUS'].count()
app_approve = app_approve.reset_index().rename(columns={'NAME_CONTRACT_STATUS':'PREV_APP_CONTRACT_APPROVED'})
app_approve.head()

   SK_ID_CURR  PREV_APP_CONTRACT_APPROVED
0      100001                           1
1      100002                           1
2      100003                           3
3      100004                           1
4      100005                           1

In [ ]:
# Total Prev App Contract Status Canceled
index = previous_application[
    (previous_application['NAME_CONTRACT_STATUS'] == 'Approved') |
    (previous_application['NAME_CONTRACT_STATUS'] == 'Refused') |
    (previous_application['NAME_CONTRACT_STATUS'] == 'Unused offer')
].index

app_canceled = previous_application.drop(index)

In [ ]:
app_canceled = app_canceled[['SK_ID_CURR','NAME_CONTRACT_STATUS']].groupby(by=['SK_ID_CURR'])['NAME_CONTRACT_STATUS'].count()
app_canceled = app_canceled.reset_index().rename(columns={'NAME_CONTRACT_STATUS':'PREV_APP_CONTRACT_CANCELED'})
app_canceled.head()

   SK_ID_CURR  PREV_APP_CONTRACT_CANCELED
0      100005                           1
1      100006                           3
2      100008                           1
3      100012                           1
4      100013                           1

In [ ]:
# Total Prev App Contract Status Refused
index = previous_application[
    (previous_application['NAME_CONTRACT_STATUS'] == 'Approved') |
    (previous_application['NAME_CONTRACT_STATUS'] == 'Canceled') |
    (previous_application['NAME_CONTRACT_STATUS'] == 'Unused offer')
].index

app_refused = previous_application.drop(index)

In [ ]:
app_refused = app_refused[['SK_ID_CURR','NAME_CONTRACT_STATUS']].groupby(by=['SK_ID_CURR'])['NAME_CONTRACT_STATUS'].count()
app_refused = app_refused.reset_index().rename(columns={'NAME_CONTRACT_STATUS':'PREV_APP_CONTRACT_REFUSED'})
app_refused.head()

   SK_ID_CURR  PREV_APP_CONTRACT_REFUSED
0      100006                          1
1      100011                          1
2      100027                          1
3      100030                         10
4      100035                          8

In [ ]:
# Total Prev App Contract Status Unused Offer
index = previous_application[
    (previous_application['NAME_CONTRACT_STATUS'] == 'Approved') |
    (previous_application['NAME_CONTRACT_STATUS'] == 'Canceled') |
    (previous_application['NAME_CONTRACT_STATUS'] == 'Refused')
].index

app_uo = previous_application.drop(index)

In [ ]:
app_uo = app_uo[['SK_ID_CURR','NAME_CONTRACT_STATUS']].groupby(by=['SK_ID_CURR'])['NAME_CONTRACT_STATUS'].count()
app_uo = app_uo.reset_index().rename(columns={'NAME_CONTRACT_STATUS':'PREV_APP_CONTRACT_UNUSED_OFFER'})
app_uo.head()

   SK_ID_CURR  PREV_APP_CONTRACT_UNUSED_OFFER
0      100028                               1
1      100057                               1
2      100061                               1
3      100086                               1
4      100092                               1

In [ ]:
# Merge
prev_app = prev_app.merge(app_approve, on = 'SK_ID_CURR', how = 'left')
prev_app = prev_app.merge(app_canceled, on = 'SK_ID_CURR', how = 'left')
prev_app = prev_app.merge(app_refused, on = 'SK_ID_CURR', how = 'left')
prev_app = prev_app.merge(app_uo, on = 'SK_ID_CURR', how = 'left')
prev_app.head()

,SK_ID_CURR,PREV_APP_LOANS,PREV_APP_TOTAL_NAME_CONTRACT_TYPE,PREV_APP_AVG_CONTRACT_TYPE,PREV_APP_CONTRACT_TYPE_MODE,PREV_APP_CONTRACT_APPROVED,PREV_APP_CONTRACT_CANCELED,PREV_APP_CONTRACT_REFUSED,PREV_APP_CONTRACT_UNUSED_OFFER
0,100001,1,1,1.0,Consumer loans,1.0,NaN,NaN,NaN
1,100002,1,1,1.0,Consumer loans,1.0,NaN,NaN,NaN
2,100003,3,2,1.5,Consumer loans,3.0,NaN,NaN,NaN
3,100004,1,1,1.0,Consumer loans,1.0,NaN,NaN,NaN
4,100005,2,2,1.0,Cash loans,1.0,1.0,NaN,NaN

In [ ]:
# isi data yang kosong
prev_app['PREV_APP_CONTRACT_APPROVED'] = prev_app['PREV_APP_CONTRACT_APPROVED'].fillna(0)
prev_app['PREV_APP_CONTRACT_CANCELED'] = prev_app['PREV_APP_CONTRACT_CANCELED'].fillna(0)
prev_app['PREV_APP_CONTRACT_REFUSED'] = prev_app['PREV_APP_CONTRACT_REFUSED'].fillna(0)
prev_app['PREV_APP_CONTRACT_UNUSED_OFFER'] = prev_app['PREV_APP_CONTRACT_UNUSED_OFFER'].fillna(0)
prev_app.head()

,SK_ID_CURR,PREV_APP_LOANS,PREV_APP_TOTAL_NAME_CONTRACT_TYPE,PREV_APP_AVG_CONTRACT_TYPE,PREV_APP_CONTRACT_TYPE_MODE,PREV_APP_CONTRACT_APPROVED,PREV_APP_CONTRACT_CANCELED,PREV_APP_CONTRACT_REFUSED,PREV_APP_CONTRACT_UNUSED_OFFER
0,100001,1,1,1.0,Consumer loans,1.0,0.0,0.0,0.0
1,100002,1,1,1.0,Consumer loans,1.0,0.0,0.0,0.0
2,100003,3,2,1.5,Consumer loans,3.0,0.0,0.0,0.0
3,100004,1,1,1.0,Consumer loans,1.0,0.0,0.0,0.0
4,100005,2,2,1.0,Cash loans,1.0,1.0,0.0,0.0

In [ ]:
zz = pd.DataFrame(prev_app.groupby('PREV_APP_CONTRACT_TYPE_MODE').size(), columns=['Count'])
zz = zz.sort_values(by=['Count'], ascending=False)
zz = zz.reset_index().rename(columns={'index': 'PREV_APP_CONTRACT_TYPE_MODE'})
zz

  PREV_APP_CONTRACT_TYPE_MODE   Count
0              Consumer loans  185568
1                  Cash loans  142320
2             Revolving loans   10965
3                         XNA       4

In [ ]:
# Imputing XNA Value
prev_app['PREV_APP_CONTRACT_TYPE_MODE'] = prev_app['PREV_APP_CONTRACT_TYPE_MODE'].replace('XNA', 'Consumer loans')

In [ ]:
# Simple Interest
total_payment = previous_application['AMT_ANNUITY'] * previous_application['CNT_PAYMENT']
prev_app['SIMPLE_INTEREST'] = (total_payment/previous_application['AMT_CREDIT'] - 1)/previous_application['CNT_PAYMENT']
prev_app.head()

,SK_ID_CURR,PREV_APP_LOANS,PREV_APP_TOTAL_NAME_CONTRACT_TYPE,PREV_APP_AVG_CONTRACT_TYPE,PREV_APP_CONTRACT_TYPE_MODE,PREV_APP_CONTRACT_APPROVED,PREV_APP_CONTRACT_CANCELED,PREV_APP_CONTRACT_REFUSED,PREV_APP_CONTRACT_UNUSED_OFFER,SIMPLE_INTEREST
0,100001,1,1,1.0,Consumer loans,1.0,0.0,0.0,0.0,0.017596
1,100002,1,1,1.0,Consumer loans,1.0,0.0,0.0,0.0,0.009282
2,100003,3,2,1.5,Consumer loans,3.0,0.0,0.0,0.0,0.027047
3,100004,1,1,1.0,Consumer loans,1.0,0.0,0.0,0.0,0.016587
4,100005,2,2,1.0,Cash loans,1.0,1.0,0.0,0.0,0.037343

In [ ]:
# Fillna 0 Simple Interest
prev_app['SIMPLE_INTEREST'] = prev_app['SIMPLE_INTEREST'].fillna(0)

In [ ]:
# Cek Missing Data
total_missing = prev_app.isnull().sum().sort_values(ascending=False)
percent_1 = prev_app.isnull().sum()/prev_app.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

                              Column  Total Missing    %
0                         SK_ID_CURR              0  0.0
1                     PREV_APP_LOANS              0  0.0
2  PREV_APP_TOTAL_NAME_CONTRACT_TYPE              0  0.0
3         PREV_APP_AVG_CONTRACT_TYPE              0  0.0
4        PREV_APP_CONTRACT_TYPE_MODE              0  0.0
5         PREV_APP_CONTRACT_APPROVED              0  0.0
6         PREV_APP_CONTRACT_CANCELED              0  0.0
7          PREV_APP_CONTRACT_REFUSED              0  0.0
8     PREV_APP_CONTRACT_UNUSED_OFFER              0  0.0
9                    SIMPLE_INTEREST              0  0.0

In [ ]:
# merge 2 dataframe dengan left join
app_train_feature = app_train_feature.merge(prev_app, on = 'SK_ID_CURR', how = 'left')

In [ ]:
pcb = pos_cash_balance.copy()

In [ ]:
pcb = pcb.sort_values(by='SK_ID_CURR')
pcb.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF
8531326,1851984,100001,-94,4.0,0.0,Active,0,0
1891462,1851984,100001,-95,4.0,1.0,Active,7,7
8789081,1369693,100001,-56,4.0,3.0,Active,0,0
4704415,1369693,100001,-54,4.0,1.0,Active,0,0
7167007,1369693,100001,-57,4.0,4.0,Active,0,0

In [ ]:
pcb_feature = pcb.groupby('SK_ID_CURR', as_index=False)['MONTHS_BALANCE'].count().rename(columns = {'MONTHS_BALANCE': 'PCB_TOTAL_MONTH_BALANCE'})
pcb_feature.head()

   SK_ID_CURR  PCB_TOTAL_MONTH_BALANCE
0      100001                        9
1      100002                       19
2      100003                       28
3      100004                        4
4      100005                       11

In [ ]:
pcb['LATE_PAYMENT'] = pcb['SK_DPD'].apply(lambda x:1 if x > 0 else 0)
pcb.head()

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,NAME_CONTRACT_STATUS,SK_DPD,SK_DPD_DEF,LATE_PAYMENT
8531326,1851984,100001,-94,4.0,0.0,Active,0,0,0
1891462,1851984,100001,-95,4.0,1.0,Active,7,7,1
8789081,1369693,100001,-56,4.0,3.0,Active,0,0,0
4704415,1369693,100001,-54,4.0,1.0,Active,0,0,0
7167007,1369693,100001,-57,4.0,4.0,Active,0,0,0

In [ ]:
month_late = pcb[['SK_ID_CURR','LATE_PAYMENT']].groupby(by=['SK_ID_CURR'])['LATE_PAYMENT'].sum()
month_late = month_late.reset_index().rename(columns={'LATE_PAYMENT':'PCB_TOTAL_MONTH_LATE_PAYMENT'})
month_late.head()

   SK_ID_CURR  PCB_TOTAL_MONTH_LATE_PAYMENT
0      100001                             1
1      100002                             0
2      100003                             0
3      100004                             0
4      100005                             0

In [ ]:
# Merge 
pcb_feature = pcb_feature.merge(month_late, on = 'SK_ID_CURR', how = 'left')
pcb_feature.head()

   SK_ID_CURR  PCB_TOTAL_MONTH_BALANCE  PCB_TOTAL_MONTH_LATE_PAYMENT
0      100001                        9                             1
1      100002                       19                             0
2      100003                       28                             0
3      100004                        4                             0
4      100005                       11                             0

In [ ]:
# merge 2 dataframe dengan left join
app_train_feature = app_train_feature.merge(pcb_feature, on = 'SK_ID_CURR', how = 'left')

In [ ]:
app_train_feature.shape

(179793, 78)

In [ ]:
# Cek Missing Data
total_missing = app_train_feature.isnull().sum().sort_values(ascending=False)
percent_1 = app_train_feature.isnull().sum()/app_train_feature.isnull().count()*100
percent_2 = (round(percent_1, 1)).sort_values(ascending=False)
missing_data = pd.concat([total_missing, percent_2], axis=1, keys=['Total Missing', '%'])
missing_data = missing_data.reset_index().rename(columns={'index': 'Column'})
missing_data

                               Column  Total Missing    %
0        PCB_TOTAL_MONTH_LATE_PAYMENT          10183  5.7
1             PCB_TOTAL_MONTH_BALANCE          10183  5.7
2                     SIMPLE_INTEREST           9171  5.1
3      PREV_APP_CONTRACT_UNUSED_OFFER           9171  5.1
4           PREV_APP_CONTRACT_REFUSED           9171  5.1
5          PREV_APP_CONTRACT_CANCELED           9171  5.1
6          PREV_APP_CONTRACT_APPROVED           9171  5.1
7         PREV_APP_CONTRACT_TYPE_MODE           9171  5.1
8          PREV_APP_AVG_CONTRACT_TYPE           9171  5.1
9   PREV_APP_TOTAL_NAME_CONTRACT_TYPE           9171  5.1
10                     PREV_APP_LOANS           9171  5.1
11                 PREV_CREDIT_ACTIVE           5234  2.9
12            PREV_TOTAL_CREDIT_TYPES           5234  2.9
13                 PREV_AVG_LOAN_TYPE           5234  2.9
14              PREV_CREDIT_TYPE_MODE           5234  2.9
15                         PREV_LOANS           5234  2.9
16                 PREV_CREDIT_CLOSED           5234  2.9
17               PREV_CREDIT_BAD_DEBT           5234  2.9
18                   PREV_CREDIT_SOLD           5234  2.9
19         AMT_REQ_CREDIT_BUREAU_HOUR              0  0.0
20                       EXT_SOURCE_2              0  0.0
21                       EXT_SOURCE_3              0  0.0
22           OBS_30_CNT_SOCIAL_CIRCLE              0  0.0
23           DEF_30_CNT_SOCIAL_CIRCLE              0  0.0
24           OBS_60_CNT_SOCIAL_CIRCLE              0  0.0
25           DEF_60_CNT_SOCIAL_CIRCLE              0  0.0
26             DAYS_LAST_PHONE_CHANGE              0  0.0
27                    FLAG_DOCUMENT_3              0  0.0
28         AMT_REQ_CREDIT_BUREAU_WEEK              0  0.0
29          AMT_REQ_CREDIT_BUREAU_DAY              0  0.0
30          AMT_REQ_CREDIT_BUREAU_MON              0  0.0
31          AMT_REQ_CREDIT_BUREAU_QRT              0  0.0
32         AMT_REQ_CREDIT_BUREAU_YEAR              0  0.0
33              CREDIT_INCOME_PERCENT              0  0.0
34             ANNUITY_INCOME_PERCENT              0  0.0
35                        CREDIT_TERM              0  0.0
36              DAYS_EMPLOYED_PERCENT              0  0.0
37                             TARGET              0  0.0
38                       EXT_SOURCE_1              0  0.0
39                         SK_ID_CURR              0  0.0
40            LIVE_CITY_NOT_WORK_CITY              0  0.0
41                    AMT_GOODS_PRICE              0  0.0
42                         DAYS_BIRTH              0  0.0
43         REGION_POPULATION_RELATIVE              0  0.0
44                  NAME_HOUSING_TYPE              0  0.0
45                 NAME_FAMILY_STATUS              0  0.0
46                NAME_EDUCATION_TYPE              0  0.0
47                   NAME_INCOME_TYPE              0  0.0
48                    NAME_TYPE_SUITE              0  0.0
49                        AMT_ANNUITY              0  0.0
50             REG_CITY_NOT_WORK_CITY              0  0.0
51                         AMT_CREDIT              0  0.0
52                   AMT_INCOME_TOTAL              0  0.0
53                       CNT_CHILDREN              0  0.0
54                    FLAG_OWN_REALTY              0  0.0
55                       FLAG_OWN_CAR              0  0.0
56                        CODE_GENDER              0  0.0
57                 NAME_CONTRACT_TYPE              0  0.0
58                      DAYS_EMPLOYED              0  0.0
59                  DAYS_REGISTRATION              0  0.0
60                    DAYS_ID_PUBLISH              0  0.0
61                         FLAG_MOBIL              0  0.0
62             REG_CITY_NOT_LIVE_CITY              0  0.0
63        LIVE_REGION_NOT_WORK_REGION              0  0.0
64         REG_REGION_NOT_WORK_REGION              0  0.0
65         REG_REGION_NOT_LIVE_REGION              0  0.0
66            HOUR_APPR_PROCESS_START              0  0.0
67         WEEKDAY_APPR_PROCESS_START              0  0.0
68        REGION_RATING_CLIENT_W_CITY              0  0.0
69               REGION_RATING_CLIENT              0  0.0
70                    CNT_FAM_MEMBERS              0  0.0
71                    OCCUPATION_TYPE              0  0.0
72                         FLAG_EMAIL              0  0.0
73                         FLAG_PHONE              0  0.0
74                   FLAG_CONT_MOBILE              0  0.0
75                    FLAG_WORK_PHONE              0  0.0
76                     FLAG_EMP_PHONE              0  0.0
77                  ORGANIZATION_TYPE              0  0.0

In [ ]:
# Fill NA with 0
for kolom in missing_data['Column']:
  app_train_feature[kolom] = app_train_feature[kolom].fillna(0)

In [ ]:
# cat_columns = app_train_feature.select_dtypes(['category']).columns
# cat_columns

cat_col = [category for category in app_train_feature.columns if app_train_feature[category].dtype == 'object']
cat_col

['NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'OCCUPATION_TYPE',
 'WEEKDAY_APPR_PROCESS_START',
 'ORGANIZATION_TYPE',
 'PREV_CREDIT_TYPE_MODE',
 'PREV_APP_CONTRACT_TYPE_MODE']

In [ ]:
app_train_feature.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,FLAG_MOBIL,FLAG_EMP_PHONE,FLAG_WORK_PHONE,FLAG_CONT_MOBILE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,REGION_RATING_CLIENT,REGION_RATING_CLIENT_W_CITY,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,REG_REGION_NOT_LIVE_REGION,REG_REGION_NOT_WORK_REGION,LIVE_REGION_NOT_WORK_REGION,REG_CITY_NOT_LIVE_CITY,REG_CITY_NOT_WORK_CITY,LIVE_CITY_NOT_WORK_CITY,ORGANIZATION_TYPE,EXT_SOURCE_1,EXT_SOURCE_2,EXT_SOURCE_3,OBS_30_CNT_SOCIAL_CIRCLE,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,FLAG_DOCUMENT_3,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR,CREDIT_INCOME_PERCENT,ANNUITY_INCOME_PERCENT,CREDIT_TERM,DAYS_EMPLOYED_PERCENT,PREV_LOANS,PREV_TOTAL_CREDIT_TYPES,PREV_AVG_LOAN_TYPE,PREV_CREDIT_TYPE_MODE,PREV_CREDIT_ACTIVE,PREV_CREDIT_CLOSED,PREV_CREDIT_SOLD,PREV_CREDIT_BAD_DEBT,PREV_APP_LOANS,PREV_APP_TOTAL_NAME_CONTRACT_TYPE,PREV_APP_AVG_CONTRACT_TYPE,PREV_APP_CONTRACT_TYPE_MODE,PREV_APP_CONTRACT_APPROVED,PREV_APP_CONTRACT_CANCELED,PREV_APP_CONTRACT_REFUSED,PREV_APP_CONTRACT_UNUSED_OFFER,SIMPLE_INTEREST,PCB_TOTAL_MONTH_BALANCE,PCB_TOTAL_MONTH_LATE_PAYMENT
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.018801,-9461,-637,-3648.0,-2120,1,1,0,1,1,0,Laborers,1.0,2,2,WEDNESDAY,10,0,0,0,0,0,0,Business Entity Type 3,0.083037,0.262949,0.139376,2.0,2.0,2.0,2.0,-1134.0,1,0.0,0.0,0.0,0.0,0.0,1.0,2.007889,0.121978,0.060749,0.067329,8.0,2.0,4.0,Consumer credit,2.0,6.0,0.0,0.0,1.0,1.0,1.0,Consumer loans,1.0,0.0,0.0,0.0,0.009282,19.0,0.0
1,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,0.010032,-19046,-225,-4260.0,-2531,1,1,1,1,1,0,Laborers,1.0,2,2,MONDAY,9,0,0,0,0,0,0,Government,0.000000,0.555912,0.729567,0.0,0.0,0.0,0.0,-815.0,0,0.0,0.0,0.0,0.0,0.0,0.0,2.000000,0.100000,0.050000,0.011814,2.0,1.0,2.0,Consumer credit,0.0,2.0,0.0,0.0,1.0,1.0,1.0,Consumer loans,1.0,0.0,0.0,0.0,0.016587,4.0,0.0
2,100008,0,Cash loans,M,N,Y,0,99000.0,490495.5,27517.5,454500.0,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,0.035792,-16941,-1588,-4970.0,-477,1,1,1,1,1,0,Laborers,2.0,2,2,WEDNESDAY,16,0,0,0,0,0,0,Other,0.000000,0.354225,0.621226,0.0,0.0,0.0,0.0,-2536.0,1,0.0,0.0,0.0,0.0,1.0,1.0,4.954500,0.277955,0.056101,0.093737,3.0,1.0,3.0,Consumer credit,1.0,2.0,0.0,0.0,5.0,2.0,2.5,Consumer loans,4.0,1.0,0.0,0.0,0.000000,83.0,43.0
3,100009,0,Cash loans,F,Y,Y,1,171000.0,1560726.0,41301.0,1395000.0,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,0.035792,-13778,-3130,-1213.0,-619,1,1,0,1,1,0,Accountants,3.0,2,2,SUNDAY,16,0,0,0,0,0,0,Business Entity Type 3,0.774761,0.724000,0.492060,1.0,0.0,1.0,0.0,-1562.0,0,0.0,0.0,0.0,1.0,1.0,2.0,9.127053,0.241526,0.026463,0.227174,18.0,2.0,9.0,Consumer credit,4.0,14.0,0.0,0.0,7.0,1.0,7.0,Consumer loans,7.0,0.0,0.0,0.0,0.000000,64.0,0.0
4,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,1530000.0,Unaccompanied,State servant,Higher education,Married,House / apartment,0.003122,-18850,-449,-4597.0,-2379,1,1,1,1,0,0,Managers,2.0,3,3,MONDAY,16,0,0,0,0,1,1,Other,0.000000,0.714279,0.540654,2.0,0.0,2.0,0.0,-1070.0,1,0.0,0.0,0.0,0.0,0.0,0.0,4.250000,0.116875,0.027500,0.023820,2.0,2.0,1.0,Consumer credit,1.0,1.0,0.0,0.0,1.0,1.0,1.0,Consumer loans,1.0,0.0,0.0,0.0,0.000000,11.0,0.0

In [155]:
app_train_feature.replace([np.inf, -np.inf], 0, inplace=True)

In [157]:
# One Hot Encoding
cat_col = [category for category in app_train_feature.columns if app_train_feature[category].dtype == 'object']
app_train_feature = pd.get_dummies(app_train_feature, columns=cat_col)

In [158]:
app_train_feature.shape

(179793, 201)

save dataset

In [159]:
# save dataset app_train_feature as New_Dataset
app_train_feature.to_csv(root+"New_Dataset_2.csv", index=False)